* {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --subtitle-color: #e38646;
  --bg-gray-light: #f3f3f3;
  --code-background-block: #343434;
  --code-background-text: #f3f3f3;
  --text-color: #222;
  --blockout-color: #999;
  --elem-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

/* .material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; 
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
} */

h1,
h2 {
  color: var(--subtitle-color);
}

h1 {
  text-align: center;
  font-size: 2rem;
}

.body {
  background: var(--bg-gray-light);
}
i.material-icons {
  vertical-align: -6px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

pre {
  padding: 1rem;
  /* margin: 1rem 0 2rem; */
  background-color: var(--code-background-block);
  font-family: monospace;
  border-radius: var(--elem-radius);
  color: var(--code-background-text);
  white-space: pre-wrap;
  /* white-space: pre-line; */
  word-wrap: break-word;
  text-align: justify;
}

.without-styles {
  color: var(--text-color);
  text-align: left;
}

td .without-styles {
  text-decoration: underline;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: #ccc;
  /* content: open-quote; */
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-family: monospace;
}

tabla {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}

th,
td {
  /* width: 25%; */
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  border-spacing: 0;
  padding: 0.3rem;
}

th {
  text-align: center;
}

caption {
  padding: 0.3em;
  color: #fff;
  background: #000;
}

img.image {
  width: 80%;
  height: auto;
}
img.redu {
  width: 200px;
  height: auto;
}

video.redu {
  width: 50%;
}

iframe {
  width: 80%;
  height: 400px;
}

.text-32 {
  font-size: 32px;
}

.bg-skyblue {
  background-color: skyblue;
}

#parrafo-dos {
  background-color: pink;
}

.hijos-directos > li {
  background-color: thistle;
}

.hijos-descendientes b {
  background-color: thistle;
}

.hermanos-general ~ li {
  background-color: thistle;
}

.hermanos-adyacentes + li {
  background-color: thistle;
}

.seletores-atributos a[href] {
  color: orangered;
}

.form-pseudoclase *:required {
  /* border-color: yellow; */
  border: 2px solid yellow;
}

.form-pseudoclase *:valid {
  border-color: green;
}

.form-pseudoclase *:invalid {
  border-color: red;
}

.form-pseudoclase *:focus {
  background-color: skyblue;
}
.form-pseudoclase *:disabled {
  background-color: pink;
}

.menu-pseudoclases a:link {
  color: skyblue;
}

.menu-pseudoclases a:active {
  color: red;
}
.menu-pseudoclases a:visited {
  color: olive;
}
.menu-pseudoclases a:hover {
  color: orange;
}

/* Selects an element with an ID matching the current URL's fragment */
.indice:target {
  background-color: var(--bg-gray-light);
  border: 10px solid var(--bg-gray-light);
}

.lista-pseudoclases li:first-child {
  color: green;
}
.lista-pseudoclases li:last-child {
  color: violet;
}
.lista-pseudoclases li:nth-child(3) {
  color: navy;
}
.lista-pseudoclases li:nth-child(4n) {
  font-size: 20px;
}
.lista-pseudoclases li:nth-child(3n + 1) {
  font-weight: bold;
}
.lista-pseudoclases li:nth-child(even) {
  background-color: yellow;
}
.lista-pseudoclases li:nth-child(odd) {
  background-color: orange;
}
.articulo-pseudoclases p:first-of-type {
  background-color: pink;
}
.articulo-pseudoclases p:last-of-type {
  background-color: violet;
}
.articulo-pseudoclases p:nth-of-type(3) {
  background-color: fuchsia;
}
.articulo-pseudoclases *:not(p) {
  background-color: beige;
}
.saga-geminis::before {
  content: "👾";
}
.saga-geminis::after {
  content: "😎";
}
.saga-precio::before {
  content: "$";
  font-weight: bold;
}
.saga-precio::after {
  content: "USD";
  font-weight: bold;
}
.p-seudoelementos::first-line {
  color: coral;
}
.p-seudoelementos::selection {
  color: greenyellow;
  background-color: black;
}
.input-pseudoelementos::placeholder {
  color: green;
}

.form-agrupar-selectores input[type="text"],
.form-agrupar-selectores input[type="email"],
.form-agrupar-selectores textarea {
  display: block;
  border-color: yellow;
  border-width: 2px;
  background-color: black;
  font-size: 20px;
  width: 300px;
}

.herencia-container {
  background-color: greenyellow;
  font-size: 25px;
}

.herencia-container span {
  background-color: pink;
  /* font-size: 10px; */
}
